<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header', {title: 'Users', currentUser}); %>

  <body data-sidebar="dark" data-topbar="dark">
    <!-- <body data-layout="horizontal" data-topbar="colored"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include('partials/topbar'); %>
      <!-- ========== Left Sidebar Start ========== -->
      <%- include('partials/sidebar'); %>
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-0">Users</h4>
                </div>
              </div>
            </div>
            <!-- end page title -->

            <div class="row">
              <div class="col-xl-12">
                <div>
                  <div
                    class="d-flex flex-column flex-sm-row justify-content-between"
                  >
                    <div class="search-box">
                      <div class="position-relative">
                        <input
                          type="text"
                          id="search-employee"
                          class="form-control bg-whitetext-secondary rounded"
                          onkeyup="searchEmployee()"
                          placeholder="Search..."
                        />
                        <i class="uil uil-search search-icon"></i>
                      </div>
                    </div>
                    <div class="mt-3 mt-md-0">
                      <a
                        href="#"
                        class="btn btn-soft-primary"
                        data-bs-toggle="modal"
                        data-bs-target=".bs-example-edit-employee"
                        onclick="addEmployee()"
                        ><i class="mdi mdi-plus me-1"></i>New User</a
                      >
                    </div>
                  </div>
                  <!-- end -->
                  <div class="row mt-4" id="employee-items">
                    <% for(u of users) {%>
                    <div
                      class="col-xl-3 col-md-6 employee-item"
                      id="employee-items-<%= u.id %>"
                    >
                      <div class="card">
                        <div class="card-body">
                          <div class="text-end">
                            <div class="dropdown">
                              <a
                                href="#"
                                class="dropdown-toggle font-size-16 text-muted"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                <i class="mdi mdi-dots-horizontal"></i>
                              </a>

                              <div class="dropdown-menu dropdown-menu-end">
                                <a
                                  class="dropdown-item text-primary"
                                  href="javascript: void(0);"
                                  data-bs-toggle="modal"
                                  data-bs-target=".bs-example-edit-employee"
                                  onclick="editEmployee('employee-items-<%= u.id %>')"
                                >
                                  <i
                                    class="mdi mdi-file-document-edit-outline me-2"
                                  ></i
                                  >Edit</a
                                >
                                <a
                                  class="dropdown-item text-danger delete-item"
                                  onclick="deleteEmployee('employee-items-<%= u.id %>')"
                                  data-id="employee-items-<%= u.id %>"
                                  href="javascript: void(0);"
                                  ><i class="mdi mdi-trash-can-outline me-2"></i
                                  >Remove</a
                                >
                              </div>
                            </div>
                          </div>

                          <div class="text-center">
                            <img
                              src="https://api.dicebear.com/9.x/identicon/svg?seed=<%= u.name %>"
                              class="avatar-lg img-fluid rounded-circle employee-image border border-dark-subtle"
                              data-type="image"
                              alt="user-image"
                            />
                            <h6 class="font-size-15 mt-3 mb-1">
                              <a href="#" class="text-primary employee-name"
                                ><%= u.name %></a
                              >
                            </h6>
                            <p
                              class="text-muted mb-0 font-size-12 fw-medium employee-designation"
                            >
                              <%= u.position %>
                            </p>
                          </div>

                          <div
                            class="d-flex flex-wrap gap-2 mt-3 justify-content-center"
                          >
                            <div>
                              <p class="text-muted fw-medium mb-0">Tag :</p>
                            </div>
                            <% if(u.tags) { %>
                            <div class="employee-tags d-flex flex-wrap gap-1">
                              <% for(t of u.tags.split(',')) { %>
                              <span class="badge badge-soft-secondary p-2"
                                ><%= t %></span
                              >
                              <% } %>
                            </div>
                            <% } else { %> - <% } %>
                          </div>
                        </div>
                        <!-- end card body -->
                        <div class="card-footer p-0">
                          <div class="row g-0">
                            <div class="col-6">
                              <div class="text-center border-end p-3">
                                <h6 class="font-size-14 mb-0">
                                  <a
                                    href="javascript: void(0);"
                                    class="text-muted employee-email"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-original-title="<%= u.email %>"
                                  >
                                    <i
                                      class="mdi mdi-email-outline align-middle me-2"
                                    ></i
                                    >E-mail
                                  </a>
                                </h6>
                              </div>
                            </div>
                            <!-- end col -->
                            <div class="col-6">
                              <div class="text-center p-3">
                                <h6 class="font-size-14 text-muted mb-0">
                                  <a
                                    href="javascript: void(0);"
                                    class="text-muted employee-phoneno"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-original-title="<%= u.phone %>"
                                  >
                                    <i
                                      class="mdi mdi-phone-outline align-middle me-2"
                                    ></i
                                    >Phone
                                  </a>
                                </h6>
                              </div>
                            </div>
                            <!-- end col -->
                          </div>
                          <!-- end row -->
                        </div>
                        <!-- end card-footer -->
                      </div>
                      <!-- end card -->
                    </div>
                    <% } %>
                  </div>
                  <!-- end row -->
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <!-- Edit Employee Modal -->
        <div
          class="modal fade bs-example-edit-employee"
          tabindex="-1"
          role="dialog"
          aria-labelledby="addProjectModal"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
              <div class="modal-header bg-soft-primary">
                <h5
                  class="modal-title font-size-16 text-primary add-employee-title"
                  id="addProjectModal"
                >
                  Add User
                </h5>
                <h5
                  class="modal-title font-size-16 text-primary update-employee-title"
                  id="updateProjectModal"
                  style="display: none"
                >
                  Update User
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  id="update-employee"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body p-4">
                <form id="NewemployeeForm">
                  <div class="mb-3">
                    <label for="employeeName" class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="employeeName"
                      placeholder="Enter Your Name"
                    />
                  </div>
                  <!-- end -->
                  <div class="mb-3">
                    <label for="employeePosition" class="form-label"
                      >Position</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="employeePosition"
                      placeholder="Enter Work Position"
                    />
                  </div>
                  <!-- end-->
                  <div class="mb-3 mt-xl-0">
                    <div>
                      <label
                        for="choices-multiple-remove-button"
                        class="form-label"
                        >Tag</label
                      >
                      <select
                        class="form-control"
                        name="choices-multiple-remove-button"
                        id="choices-multiple-remove-button"
                        multiple
                      >
                        <option value="">Choose...</option>
                        <option value="Html">Html</option>
                        <option value="Css">Css</option>
                        <option value="Bootstrap">Bootstrap</option>
                        <option value="Laravel">Laravel</option>
                        <option value="Django">Django</option>
                        <option value="Python">Python</option>
                        <option value="Adobe XD">Adobe XD</option>
                        <option value="React">React</option>
                        <option value="Reactnative">Reactnative</option>
                        <option value="Photoshop">Photoshop</option>
                        <option value="IOS">IOS</option>
                        <option value="Android">Android</option>
                      </select>
                    </div>
                  </div>
                  <!-- end-->
                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <div class="mb-3 mb-sm-0">
                        <label for="exampleEmailId" class="form-label"
                          >E-mail</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          id="exampleEmailId"
                          placeholder="Enter Your Email"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                      <div>
                        <label for="PhoneNo" class="form-label">Phone</label>
                        <input
                          type="text"
                          class="form-control"
                          id="PhoneNo"
                          placeholder="Enter Your Number"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3 mb-sm-0">
                        <label for="Password" class="form-label"
                          >Password</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="Password"
                          placeholder="Enter New Password"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-6">
                      <div>
                        <label for="PasswordConfirmation" class="form-label"
                          >Password Confirmation</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="PasswordConfirmation"
                          placeholder="Enter New Password Again"
                        />
                      </div>
                    </div>
                    <!-- end col -->
                  </div>
                  <!-- end row -->
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-soft-primary"
                  id="addemployee"
                >
                  Add
                </button>
                <button
                  type="button"
                  class="btn btn-soft-primary"
                  id="updateemployeedetail"
                >
                  Update
                </button>
              </div>
              <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- JAVASCRIPT -->
    <%- include('partials/scripts'); %>

    <!-- profile js -->
    <script src="/assets/js/pages/employee.init.js"></script>
  </body>
</html>
